<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myjoke.baselibray">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:allowBackup="true" android:label="@string/app_name"
        android:name=".base.LibraryApplication"
        android:supportsRtl="true">

    </application>

</manifest>
