<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="application.inputlibrary">

    <application>
        <activity android:name=".ui.InputMainActivity"></activity>
        <activity android:name=".ui.InputDemoActivity" />
    </application>

</manifest>