<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="application.eventbusdemo">

    <application>
        <activity android:name=".ui.EventBusMainActivity" />
        <activity android:name=".ui.EventBusDetailActivity"></activity>
    </application>

</manifest>