<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.myjoke">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BitmapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ThirdActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".ui.activity.NetworkConnectChangedReceiver2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="hhhh" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.ArouteActivity" />
        <activity android:name=".ui.activity.FlexLayoutActivity" />
        <activity android:name=".ui.activity.login.LoginActivity"></activity>
    </application>

</manifest>